.dope_color {
  background: rgb(240, 85, 2);
  background: linear-gradient(
    45deg,
    rgba(240, 85, 2, 1) 0%,
    rgba(245, 163, 0, 1) 35%,
    rgba(240, 2, 2, 1) 70%
  );
  animation: gradient 10s ease infinite;
  background-size: 400% 100%;
}
.dope_text_color {
  background: rgb(240, 85, 2);
  background: linear-gradient(
    45deg,
    rgba(240, 85, 2, 1) 0%,
    rgba(245, 163, 0, 1) 35%,
    rgba(240, 2, 2, 1) 70%
  );
  animation: gradient 10s ease infinite;
  background-size: 400% 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.list-inline-item {
  font-size: x-large;
}

.gradient-border {
  width: 100%; /* Set the width to match the container */
  height: 5px; /* Adjust height as needed */
  background: linear-gradient(
    45deg,
    rgba(240, 85, 2, 1) 0%,
    rgba(245, 163, 0, 1) 35%,
    rgba(240, 2, 2, 1) 70%
  );
  background-size: 400% 100%;
  animation: gradient 5s ease infinite;
  border: none; /* Hide the default border */
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
